# Alexine Studios

In [ ]:
!mkdir datasets

In [ ]:
!wget -qq https://raw.githubusercontent.com/chiruharshith/Alexine_Studios/main/datasets/cruise_ship_info.csv -P datasets

In [ ]:
# Importing all the required packages

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

### Read the data using pandas dataframe

In [ ]:
data = pd.read_csv('datasets/cruise_ship_info.csv')

### Exercise 01: For the given dataset, perform the following:
1. Display first 5 and last 5 entries from the dataset
2. Check for null values in the dataset

In [ ]:
data.head()

In [ ]:
# YOUR CODE HERE
data.tail()

In [ ]:
data.isna().sum()
#data doesn't have any NULL

### Exercise 02: For the given data, perform the following
* Take 'Cruise_line' as target variable 
* Groupby 'Cruise_line' column and find mean 
* Transpose the mean of grouped dataframe and assign to new dataframe
* Consider only four classes 'Azamara', 'Carnival', 'Celebrity', 'Costa' from the 'Curise_line' column using iloc and drop the remaining classes 
* After dropping the classes from the 'Cruise_line' perform the stack bar plot

In [ ]:
mean = data.groupby('Cruise_line').mean()
newdf = mean.T
newdf.head()

In [ ]:
newdf.drop(newdf.iloc[:, 4:18], inplace = True, axis = 1) 
newdf.head()

In [ ]:
newdf.plot(kind="bar", stacked=True)
plt.show()

### Exercise 03: Plot the Histogram with the following measures:

Consider only two columns Cabin and Crew from dataframe to compare

color: 'orange' for Cabin and 'green' for Crew

In [ ]:
legend = ['Cabin', 'Crew']
plt.hist([data.cabins, data.crew], color=['orange', 'green'])
plt.xlabel("Cabin")
plt.ylabel("Crew")
plt.legend(legend)
plt.show()


### Exercise 04: Normalize the Data

* Remove the 'Ship_name' and 'Cruise_lines' columns from the data as they contain categorical values

* Normalize the data within a particular range, use StandardScaler() from sklearn



**Hint:**  [Sklearn StandardScaler](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.StandardScaler.html)

In [ ]:
data.columns

In [ ]:
data.drop(['Ship_name', 'Cruise_line'],axis=1,inplace=True)

In [ ]:
data.head()

In [ ]:
from sklearn.preprocessing import StandardScaler
stdsc = StandardScaler()
X_std = stdsc.fit_transform(data.values)

In [ ]:
newdf.head()

### Exercise 05: Plot the distribution of data using boxplot

From the above dataset take the columns 'Age', 'length', 'crew' and 'passenger_density' and plot the boxplot

In [ ]:
data.boxplot(column=['Age', 'length', 'crew', 'passenger_density']);

### Exercise 06: From the above dataset take X-label = 'length' and Y-label = 'cabins' and plot the bubble chart

In [ ]:
# YOUR CODE HERE
plt.scatter(x="length", y="cabins", s=1000, alpha=0.5, data=data)
plt.xlabel("length", size=16)
plt.ylabel("cabins", size=16)
plt.title("Bubble Plot")
plt.show()

### Exercise 07: Check the highly Correlated features

* Print the correlated feature
* Print the non-correlated features
* Find the correlation matrix of data 
* Plot the heatmap to check for the highly Correlated features
* Remove the correlated features

In [ ]:
corr = data.corr()
corr

In [ ]:
data.head()

In [ ]:
#Set Up Mask To Hide Upper Triangle and perform a Heatmap
mask = np.triu(np.ones_like(corr, dtype=bool))
tri_df = corr.mask(mask)

sns.heatmap(tri_df,annot=True,cmap='summer');

In [ ]:
## Another Approach to highlight particular Highly-correlated Columns

def color_fill(val):
    import math
    return 'background-color: blue; color:white;' if val>=0.9 else 'color:white;' if math.isnan(val) else 'background-color: white; color:black;' 

tri_df.style.applymap(color_fill) # Apply the css to each cell

In [ ]:
## Print highly correlated feature
to_drop = [col for col in tri_df.columns if any(tri_df[col] > 0.9)]
print(to_drop)

In [ ]:
data.head()

In [ ]:
#Dropping highly correlated columns
reduced_df = data.drop(to_drop, axis = 1)
reduced_df.head()

In [ ]:
## Another Approach to highlight particular Highly-correlated Columns
corr = reduced_df.corr()
mask = np.triu(np.ones_like(corr, dtype=bool))
tri_df = corr.mask(mask)

def color_fill(val):
    import math
    return 'background-color: blue; color:white;' if val>=0.9 else 'color:white;' if math.isnan(val) else 'background-color: white; color:black;' 

tri_df.style.applymap(color_fill) # Apply the css to each cell