# Alexine Studios

## Download Dataset

In [ ]:
!mkdir datasets
!wget -qq https://raw.githubusercontent.com/chiruharshith/Alexine_Studios/main/datasets/employee.csv -P datasets

In [ ]:
import pandas as pd
df = pd.read_csv("datasets/employee.csv")
df.head()

In [ ]:
df.shape

In [ ]:
df.columns

In [ ]:
# Display the columns 4 to 9 for rows 7 to 13
df.iloc[7:14, 4:10]

In [ ]:
# Display the information of the employees who have joined in Quarter 1 and 4
df[(df['Quarter of Joining']=='Q1') | (df['Quarter of Joining']=='Q4')]

In [ ]:
# How many people from the Southern region joined on Monday?
df[(df['Region'] == 'South') & (df['DOW of Joining'] == 'Monday')]

In [ ]:
df.dtypes

In [ ]:
# Display the information of the employees who have more than 13 years experience in the company
df[df['Age in Company (Years)']>13]

In [ ]:
df['Last % Hike']

In [ ]:
# Removing "%" sign from the "Last % Hike" column values
df['Last % Hike'] = df['Last % Hike'].str.strip().str[:-1].astype(int) / 100
df.head()

In [ ]:
# How many Female employees got more than 20% hike?
df[(df['Gender'] == 'F') & (df['Last % Hike'] > 0.2)]

In [ ]:
# Redundant data