# Alexine Studios

## Download Dataset

In [1]:
!mkdir datasets
!wget -qq https://raw.githubusercontent.com/chiruharshith/Alexine_Studios/main/datasets/five_states.csv -P datasets

In [2]:
# Import pandas and check for the version
import pandas as pd
pd.__version__

'1.1.5'

In [3]:
pd.read_csv?

In [4]:
df = pd.read_csv("datasets/five_states.csv")
df

   State Name             Capital             Area     Population Largest City
0    Karnataka           Bangalore  1,91,791 sq. km   6,11,30,704     Bengaluru
1   Tamil Nadu             Chennai  1,30,058 sq. km   7,21,38,958         Tamil
2   Telangana            Hyderabad  112,077 Sq. Kms  350.04 Lakhs     Hyderabad
3  Maharashtra             Mumbai   3,07,713 sq. km  11,23,72,972       Mumbai
4       Kerala  Thiruvananthapuram    38,863 sq. km   3,33,87,677    Malappuram

In [6]:
df

   State Name             Capital             Area     Population Largest City
0    Karnataka           Bangalore  1,91,791 sq. km   6,11,30,704     Bengaluru
1   Tamil Nadu             Chennai  1,30,058 sq. km   7,21,38,958         Tamil
2   Telangana            Hyderabad  112,077 Sq. Kms  350.04 Lakhs     Hyderabad
3  Maharashtra             Mumbai   3,07,713 sq. km  11,23,72,972       Mumbai
4       Kerala  Thiruvananthapuram    38,863 sq. km   3,33,87,677    Malappuram

In [9]:
df.head(3)

  State Name    Capital             Area     Population Largest City
0   Karnataka  Bangalore  1,91,791 sq. km   6,11,30,704     Bengaluru
1  Tamil Nadu    Chennai  1,30,058 sq. km   7,21,38,958         Tamil
2  Telangana   Hyderabad  112,077 Sq. Kms  350.04 Lakhs     Hyderabad

In [10]:
df.tail(3)

   State Name             Capital             Area     Population Largest City
2   Telangana            Hyderabad  112,077 Sq. Kms  350.04 Lakhs     Hyderabad
3  Maharashtra             Mumbai   3,07,713 sq. km  11,23,72,972       Mumbai
4       Kerala  Thiruvananthapuram    38,863 sq. km   3,33,87,677    Malappuram

In [11]:
df

   State Name             Capital             Area     Population Largest City
0    Karnataka           Bangalore  1,91,791 sq. km   6,11,30,704     Bengaluru
1   Tamil Nadu             Chennai  1,30,058 sq. km   7,21,38,958         Tamil
2   Telangana            Hyderabad  112,077 Sq. Kms  350.04 Lakhs     Hyderabad
3  Maharashtra             Mumbai   3,07,713 sq. km  11,23,72,972       Mumbai
4       Kerala  Thiruvananthapuram    38,863 sq. km   3,33,87,677    Malappuram

In [12]:
df.columns

Index(['State Name ', 'Capital ', 'Area ', 'Population', 'Largest City '], dtype='object')

In [13]:
# Display only Capitals and States columns from the dataframe
### >>> df[#list of your column names]

df[['Capital ','State Name ']]

             Capital   State Name
0           Bangalore    Karnataka
1             Chennai   Tamil Nadu
2           Hyderabad   Telangana
3             Mumbai   Maharashtra
4  Thiruvananthapuram       Kerala

In [14]:
df

   State Name             Capital             Area     Population Largest City
0    Karnataka           Bangalore  1,91,791 sq. km   6,11,30,704     Bengaluru
1   Tamil Nadu             Chennai  1,30,058 sq. km   7,21,38,958         Tamil
2   Telangana            Hyderabad  112,077 Sq. Kms  350.04 Lakhs     Hyderabad
3  Maharashtra             Mumbai   3,07,713 sq. km  11,23,72,972       Mumbai
4       Kerala  Thiruvananthapuram    38,863 sq. km   3,33,87,677    Malappuram

In [15]:
df.dtypes

State Name       object
Capital          object
Area             object
Population       object
Largest City     object
dtype: object

In [19]:
df['Population']

0     6,11,30,704
1     7,21,38,958
2    350.04 Lakhs
3    11,23,72,972
4     3,33,87,677
Name: Population, dtype: object

In [20]:
df.Population

0     6,11,30,704
1     7,21,38,958
2    350.04 Lakhs
3    11,23,72,972
4     3,33,87,677
Name: Population, dtype: object

In [18]:
temp = "1,30,058 sq. km"
int(''.join(filter(str.isdigit, temp)))

130058

In [21]:
def removeAlpha(X):
    return int(''.join(filter(str.isdigit, X)))

df.Population = df.Population.apply(removeAlpha)
df['Area '] = df['Area '].apply(removeAlpha)
df

   State Name             Capital    Area   Population Largest City
0    Karnataka           Bangalore  191791    61130704     Bengaluru
1   Tamil Nadu             Chennai  130058    72138958         Tamil
2   Telangana            Hyderabad  112077       35004     Hyderabad
3  Maharashtra             Mumbai   307713   112372972       Mumbai
4       Kerala  Thiruvananthapuram   38863    33387677    Malappuram

In [22]:
df.dtypes

State Name       object
Capital          object
Area              int64
Population        int64
Largest City     object
dtype: object

In [23]:
list(df['Area '])

[191791, 130058, 112077, 307713, 38863]

In [24]:
df.at[4,'Area '] = 10000
df

   State Name             Capital    Area   Population Largest City
0    Karnataka           Bangalore  191791    61130704     Bengaluru
1   Tamil Nadu             Chennai  130058    72138958         Tamil
2   Telangana            Hyderabad  112077       35004     Hyderabad
3  Maharashtra             Mumbai   307713   112372972       Mumbai
4       Kerala  Thiruvananthapuram   10000    33387677    Malappuram

In [25]:
df = df.set_index('State Name ')

In [26]:
df

                       Capital    Area   Population Largest City
State Name
Karnataka             Bangalore  191791    61130704     Bengaluru
Tamil Nadu              Chennai  130058    72138958         Tamil
Telangana             Hyderabad  112077       35004     Hyderabad
Maharashtra             Mumbai   307713   112372972       Mumbai
Kerala       Thiruvananthapuram   10000    33387677    Malappuram

In [27]:
df['Largest City ']['Kerala']

'Malappuram'