# Alexine Studios

![Penguin](https://github.com/chiruharshith/Alexine_Studios/blob/main/media/penguine.png?raw=true)

The dataset consists of the below 7 columns,

- **species:** penguin species (Chinstrap, Ad√©lie, or Gentoo)
- **culmen length & depth:** The culmen is the upper ridge of a bird's beak
- **flipper_length_mm:** flipper length
- **body_mass_g:** body mass
- **island:** island name (Dream, Torgersen, or Biscoe)
- **sex:** penguin sex

## Download Dataset

In [ ]:
!mkdir datasets
!wget -qq https://github.com/chiruharshith/Alexine_Studios/blob/main/datasets/penguins.csv -P datasets

#### Importing Required Packages

In [10]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [11]:
# Load the data
df = pd.read_csv('datasets/penguins.csv')
df.head(3)

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE

In [12]:
# Storing the data and target values in two seperate variable x and y
x = df.drop(['species'], axis=1)
y = df['species']

In [13]:
x.shape, y.shape

((344, 6), (344,))

In [14]:
# We are splitting the data into train and test sets in the ratio of 80:20 
# i.e 80 % of data is train set and 20 % of the data is test set
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2)

In [15]:
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((275, 6), (69, 6), (275,), (69,))

Know more about [Train_Test_Split()](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html)